// ignore wonky dev files (thanks emacs)
*.go~
#*.go#
.txt~
*.js~
*.html~
*.md~

// ignore binary
S2017-UPE-AI
aicomp
balance.txt

// ignore used key files
dbinterface/words/used/*.txt
dbinterface/CREDENTIALS
npc.conf

node_modules
identicons
test.png
