// ignore wonky dev files (thanks emacs)
*.go~
#*.go#
.txt~
*.js~
*.html~
*.md~

// ignore binary
S2017-UPE-AI
aicomp
balance.txt

// ignore compiled ais
examples/c++/ai

// ignore used key files
dbinterface/words/used/*.txt

// ignore replay files
dbinterface/replays

// ignore credentials file
npc.conf

identicons
