{{define "changelog"}}
{{template "header" .}}

<section>
  <h3>Thurs, 03/02</h3>
  <p class="lead">Added the fog of war mechanic (also in documentation under "Fog of War"). The website player has a simple fog of war viewer as well, but because of the difference in scaling for the different lanes, the rectangle is a little off. This will be fixed in a later update.</p>
  <p class="lead">Also added a changelog, as you can see!</p>
  <p>You are now required to login to access the online game player, but it feeds in your devkey automatically.</p>
</section>

{{template "footer" .}}
{{end}}
