{{define "changelog"}}
{{template "header" .}}

<section>
  <h3>Wed, 03/08</h3>
  <div class="panel panel-primary">
    <div class="panel-body">
      <p class="lead">HUGE BALANCE PATCH:</p>
      <b>Towers:</b>
      <ul>
	<li>Peashooters have been buffed to cost 50 income and have 500 HP. This is reduced from 100 income cost, and increased from having 200 HP.
	<li>Junkyards have been nerfed to only get 50 bits/death within a range of 300 pixels. This is reduced from 500 bits/death in a range of 500 pixels.
	<li>Start Ups have been buffed to get 10 income/second up till a max of 1000 income. This is increased from 4 income/second to a max of 500 income.
	<li>Corporations have been nerfed to have an income boost of 200 * n, where n is the number of corps you own. This is reduced from 200 * n^2.
      </ul>
      <b>Troops:</b>
      <ul>
	<li>Blackhats have been nerfed to only disable within a reach of 300 horizontally and 50 vertically. This is reduced from the entire lane horizontally.
	<li>Aimbots have been buffed to iterate at a rate of twice per second. This is increased from once every two seconds.
	<li>Hard Drives have been buffed to have 600 HP, and to deal 80 damage per shot. This is increased from 500 HP and 50 damage per shot.
	<li>Scrapheaps have been buffed to spawn 5 Nuts and 5 Bolts on death. This is increased from 2 Nuts and 2 Bolts.
	<li>Terminators have been reworked to start with 10 MaxHP, but gain 10 HP whenever they move. If the increasing HP exceeds the MaxHP, it will overwrite the Terminator's MaxHP.
	<li>Gandhi has been buffed to move at a stride of 3, instead of 6. This is a buff because originally Gandhi moved too quickly to be protectable by friendly units.
      </ul>
    </div>

    <p class="lead">This was not mentioned in the changelog before, but the territory mechanic is now working as intended. Killing an objective tower increases your lane territory by 200 pixels. See the documentation for further details.</p>
  </div>
  <h3>Thurs, 03/02</h3>
  <p class="lead">Added the fog of war mechanic (also in documentation under "Fog of War"). The website player has a simple fog of war viewer as well, but because of the difference in scaling for the different lanes, the rectangle is a little off. This will be fixed in a later update.</p>
  <p class="lead">Also added a changelog, as you can see!</p>
  <p>You are now required to login to access the online game player, but it feeds in your devkey automatically.</p>
  <h3>Sat, 03/04</h3>
  <p>Lots of front-end changes (added HUD/result screen/removed lots of things from templates)</p>
  <p class="lead">
    Each frame's game output now includes a "name" field, which is the username of the player. This is now reflected in the docs.
  </p>
</section>

{{template "footer" .}}
{{end}}
