{{define "docs"}}
{{template "header" .}}
<style>
  .anchor{
  display: block;
  height: 65px; /*same height as header*/
  margin-top: -65px; /*same height as header*/
  visibility: hidden;
  }

  h3 {
  margin-top: 65px;
  }
</style>
<section>
  <div class="jumbotron text-center">
    <div class="row">
      <p>
        <h1>Documentation</h1>
	<p class="lead">We're still updating the game as we add new features, so this documentation might change up a little as we balance numbers and tweak values!</p>
      Last edited: Wed, Mar 1
      </p>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title" id="toc">Table of Contents</h2>
    </div>
    <div class="panel-body">
      <p>
	<ul>
	  <li><a href="#gettingstarted">Getting Started</a>
	  <li><a href="#premise">Premise</a></li>
          <li><a href="#troops">Troops 101</a></li>
          <li><a href="#towers">Towers 101</a></li>
	  <li><a href="#objectives">Objectives 101</a></li>
	  <li><a href="#fogofwar">Fog of War</a></li>
	  <li><a href="#territory">Territory</a></li>
	  <li><a href="#gameconstants">Game Constants</a></li>
          <li><a href="#enginedetails">Engine Details</a></li>
	  <li><a href="#developingyourai">Developing your AI</a></li>
	  <li><a href="#sampleoutput">Sample Output</a></li>
	  <li><a href="#interpretingoutput">Interpreting Output</a></li>
	</ul>
      </p>
    </div>
  </div>
  <div>
    <span class="anchor" id="gettingstarted"></span>
    <h3>Getting started</h3>
    <p>
      <h5>
	<ul>
	  <li>If you haven't already, create an account and find a team (of up to four people)! Sign up in the top right corner of the screen.</li>
	  <li>Go to your Profile, which can be found after logging in by clicking on your name in the top right in the dropdown.</li>
	  <li>There you should find your developer key (which you should NOT share with anyone), and your current matchmaking rating. You will need your dev key for testing your AI on our server.</li>
	  <li>If anything doesn't make sense, please email Darwin Ding (<b>dingd@rpi.edu</b>) with any questions you may have!</li>
	</ul>
      </h5>
    </p>
    <div class="row">
      <img src="static/img/docs/sample_player_1.jpg" align="right" style="width: 25%; margin: 20px; margin-top: 100px;"></img>
      <div class="col-xs-8">
	<span class="anchor" id="premise"></span>
	<h3>Premise</h3>
	<p class="lead">In some dystopian, robotic future, you're just a colony trying to survive. Conveniently placed across three horizontally aligned lanes is another colony, which sucks and must be destroyed. This 1600 x 600 pixel grid is only large enough for one of you, after all.</p>
	<p>The game this time around is a 1v1 tower defense that takes place over the course of five minutes. Each player begins with a core, which are the main objectives to take out in this game. Each player additionally has a smaller objective tower in each lane. After five minutes, if both main cores are still standing, a tie-breaker process occurs to determine a winner.</p>

	<p>You can check out the code on <a href="https://github.com/austindoeswork/S2017-UPE-AI">github</a>.</p>

	<p>The game progresses in real-time at a rate of 30 FPS, where players can input up to a single action per frame. These actions can either consist of buying a tower in one of the plots that exist along each of the lanes, or buying a troop to progress down any of the lanes. Note that you don't actually directly control the actions of any particular unit after its been created, they all have set AIs. You'll find that just managing where/when to buy them will still be quite a handful!</p>

	<p>You buy troops/towers using <b>bits</b>, the local currency. You get these bits every second depending on what your <b>income</b> is (which can be increased/decreased throughout the course of the game). You have a base income of 500 bits/sec when the game starts.</p>
      </div>
    </div>

    <span class="anchor" id="troops"></span>
    <h3>Troops 101</h3>
    <p class="lead">Troops are the main game objects you will need to worry about, as they'll comprise the majority of your attack and defense. Here you'll get an introduction to all of the troops you'll have to play with.</p>
    <p>Troops have each of the following characteristics that you'll need to worry about:</p>
    <ul>
      <li><b>X, Y</b>: Pretty self explanatory. Troops have an X, Y position that varies from 0-1599 for X and 0-599 for Y. Player 1 (blue, left player)'s units spawn at x = 0, and player 2 (red, right player)'s units spawn at x = 1599.
      <li><b>HP/MaxHP</b>: Pretty self explanatory. Troops keep track of their maximum HP as well as their current running HP. If it goes to 0 or below that troop is considered dead and will be cleaned up at the end of the frame.</li>
      <li><b>Enum</b>: Each troop and tower has an enum value that tells the game what type of unit it is.</li>
      <li><b>Damage</b>: Most troops are single-target shooters (as opposed to AOE), and damage is how much damage this troop will do in a single step.</li>
      <li><b>Cost</b>: You must have at least X bits and Y income to purchase this unit on a given turn. The vast majority of troops simply cost a bit value.</li>
      <li><b>Speed</b>: This troop acts every (30/speed) frames. Higher speed means it moves more frequently.</li>
      <li><b>Stride</b>: When this troop chooses to move, it will move (stride) pixels in the direction of its player. If you are the blue player, the troop will move to the right. If red, left.</li>
      <li>Additionally, some troops have special characteristics that separate them from the crowd. Make sure to read all of the troops below!
    </ul>
    <p>
      After you decide you want to buy a specific troop, and you know you have the bits and income to support the purchase, you'll have to decide on which lane you want to place it in. Finally, once you submit the buy action, you're good to go! The troop has its own AI that it will follows, and that will be described below.
    </p>
    <p>Now for what you were waiting for: the unit selection!
      <dl class="dl-horizontal">
	<dt><img src="/static/img/nut.png"></dt>
	<dd>
	  <p class="lead">
	    Nut
	  </p>
	  <p>
	    <b>Nuts</b> are standard foot-soldiers with below average HP, average stride/reach and high speed/damage. This unit is great for high DPS (damage per second) but needs to be supplemented with meatier troops. The Nut is the cheapest unit in the game, and the most cost efficient.
	  </p>
	  <p>
	    Nuts move super simply -- each step they try to find a target in range to shoot, and move otherwise. If they have a valid target that is neither dead nor out of range, they will shoot it. They will always prioritize the closest tower or troop it sees first.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		00
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		200 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		10
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		100
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		10
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		120
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/bolts.png"></dt>
	<dd>
	  <p class="lead">
	    Bolt
	  </p>
	  <p>
	    <b>Bolts</b> have worse speed/reach than Nuts, but above average HP. Bolts deal damage as a percent of enemy HP as opposed to a standard fixed damage amount. On average, Bolts do better versus large opponents than Nuts, but are worse versus smaller opponents than Nuts. Bolts cost a little more than Nuts.
	  </p>
	  <p>
	    Bolts move super simply -- each step they try to find a target in range to shoot, and move otherwise. If they have a valid target that is neither dead nor out of range, they will shoot it. They will always prioritize the closest tower or troop it sees first.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		01
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		400 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		3.75
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		5% of target's MaxHP
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		300
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		15
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		100
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/GreaseMonkey.png"></dt>
	<dd>
	  <p class="lead">
	    Grease Monkey
	  </p>
	  <p>
	    <b>Grease Monkeys</b> are healer troops that heal all friendly troops by a fixed amount in a small range around it.
	  </p>
	  <p>
	    Grease Monkeys don't really attack, but they will either choose to heal or move on any given step. They will always choose to heal if there is a damaged (HP < MaxHP) troop within its range. Healing can never take a unit above its Max HP.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		02
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		300 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Healing</b>
	      </td>
	      <td>
		10 HP
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		75
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		10
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		200
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/walker.png"></dt>
	<dd>
	  <p class="lead">
	    Walker
	  </p>
	  <p>
	    <b>Walkers</b> are speedy (high speed, stride) and durable (high HP) troop that can be quickly deployed to contribute to ongoing fights. Has pretty low DPS, but its mobility, above-average reach and very reasonable cost helps compensate for this.
	  </p>
	  <p>
	    Walkers move super simply -- each step they try to find a target in range to shoot, and move otherwise. If they have a valid target that is neither dead nor out of range, they will shoot it. They will always prioritize the closest tower or troop it sees first.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		03
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		800 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		15
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		5
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		800
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		10
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		200
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/aimbot.png"></dt>
	<dd>
	  <p class="lead">
	    Aimbot
	  </p>
	  <p>
	    <b>Aimbots</b> are snipers that do very high damage with a ridiculous reach and incredibly low speed/stride/HP. They also have a decently high cost.  Aimbots can shoot into neighboring lanes. This unit is great for long range presence, but definitely needs to be coddled.
	  </p>
	  <p>
	    Aimbots move super simply -- each step they try to find a target in range to shoot, and move otherwise. If they have a valid target that is neither dead nor out of range, they will shoot it. They will always prioritize the closest tower or troop it sees first.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		04
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		3000 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		.5
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		100
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		100
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		5
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		700
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/hardrive.png"></dt>
	<dd>
	  <p class="lead">
	    Hard Drive
	  </p>
	  <p>
	    <b>Hard Drives</b> are bulky melee fighters with above-average (but not totally cost efficient) HP, low speed, high damage and high cost. Additionally they have a caveat that a single instance of damage can only deal up to 20 damage to a Hard Drive. Perfect for breaking through high damage areas, but is countered by high DPS troops.
	  </p>
	  <p>
	    Hard Drives move super simply -- each step they try to find a target in range to shoot, and move otherwise. If they have a valid target that is neither dead nor out of range, they will shoot it. They will always prioritize the closest tower or troop it sees first.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		05
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		2500 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		50
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		500
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		5
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		50
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/scrapheap.png"></dt>
	<dd>
	  <p class="lead">
	    Scrapheap
	  </p>
	  <p>
	    <b>Scrapheaps</b> are bulky and pricey melee fighters with ridiculous HP that damage themselves over time. They have low damage and are a little slow in terms of speed, but otherwise are similar in stats to a Nut. When they die they create two Nuts and two Bolts in their stead. This unit is heavily a defensive one.
	  </p>
	  <p>
	    Scrapheaps move super simply -- each step they try to find a target in range to shoot, and move otherwise. If they have a valid target that is neither dead nor out of range, they will shoot it. They will always prioritize the closest tower or troop it sees first.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		06
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		9000 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		8
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage to self</b>
	      </td>
	      <td>
		30 every time it moves
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		9000
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		5
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		120
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/gasguzzler.png"></dt>
	<dd>
	  <p class="lead">
	    Gas Guzzler
	  </p>
	  <p>
	    <b>Gas Guzzlers</b> are large units that start with a massive amount of HP, do damage equal to their HP and walk incredibly slowly with a very low range. Decently expensive and also costs a little bit of income, but is also a must-deal-with threat. Note that when Gas Guzzlers die, you get back the income you paid for it.
	  </p>
	  <p>
	    Gas Guzzlers move super simply -- each step they try to find a target in range to shoot, and move otherwise. If they have a valid target that is neither dead nor out of range, they will shoot it. They will always prioritize the closest tower or troop it sees first.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		07
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		10000 bits, 50 income
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		This unit's HP
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		10000
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		5
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		50
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/terminator.png"></dt>
	<dd>
	  <p class="lead">
	    Terminator
	  </p>
	  <p>
	    <b>Terminators</b> are super-soldier troops that have incredibly high DPS and below-average health, but otherwise have comparable stats to Nuts. Terminators are extremely expensive.
	  </p>
	  <p>
	    Terminators move super simply -- each step they try to find a target in range to shoot, and move otherwise. If they have a valid target that is neither dead nor out of range, they will shoot it. They will always prioritize the closest tower or troop it sees first.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		08
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		8000 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		100
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		80
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		120
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/blackhat.png"></dt>
	<dd>
	  <p class="lead">
	    Blackhat
	  </p>
	  <p>
	    <b>Blackhats</b> are somewhat expensive assassins that instantly kill troops with very high speed, very low range, and low HP. Blackhats disable enemy towers within the lane they operate while they're out. Disabled towers will not attack or generate money. Note that Blackhats will not disable objective towers or the main core.
	  </p>
	  <p>
	    Blackhats move super simply -- each step they try to find a target in range to shoot, and move otherwise. If they have a valid target that is neither dead nor out of range, they will shoot it. They will always prioritize the closest tower or troop it sees first.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		09
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		2500 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		30
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		100% of target's MaxHP
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		50
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		50
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/malware.png"></dt>
	<dd>
	  <p class="lead">
	    Malware
	  </p>
	  <p>
	    <b>Malware</b> are viruses that have pretty low HP and average reach/speed/stride, but above average damage. They infect troops that they attack. When infected troops die, another Malware will spawn.
	  </p>
	  <p>
	    Malware move super simply -- each step they try to find a target in range to shoot, and move otherwise. If they have a valid target that is neither dead nor out of range, they will shoot it. They will always prioritize the closest tower or troop it sees first.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		10
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		6000 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		30
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		80
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		4
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		200
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/ghandi.png"></dt>
	<dd>
	  <p class="lead">
	    Gandhi
	  </p>
	  <p>
	    <b>Gandhi</b> is an exorbitantly expensive troop that vaporizes all troops in its lane when it’s created. It does absolutely nothing when it’s out and has very low HP. If Gandhi reaches the other side of the stage you win the game. A player can only buy a single Gandhi during a game.
	  </p>
	  <p>
	    Gandhi just moves each turn.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		11
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		500000 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		30
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		Gandhi does not attack
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		50
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Stride</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		50
	      </td>
	    </tr>
	  </table>
	</dd>
      </dl>
      <span class="anchor" id="towers"></span>
      <h3>Towers 101</h3>
    <p class="lead">Your colony can't just thrive on troops, however! You'll be placing towers in the plots alongside each lane to supplement your army.</p>
    <p>Towers typically cost income as well as a raw bit value. Note that the income you spend on towers is returned to you when the tower dies (the bits are not, though).</p>
    <p>Towers have each of the following characteristics that you'll need to worry about:</p>
    <ul>
      <li><b>X, Y</b>: Pretty self explanatory. Towers also have X, Y just like troops, although they are stationary and can only be spawned in very specific plots. There is a side-lane of plots 50px above and 50px below each troop lane. Plots are 100 pixels wide and go from 300 pixels to 1300 pixels in each side-lane. (As a result, there's 11 plots per side-lane, two side-lanes per lane, six total side-lanes and 66 total plots).
      <li><b>HP/MaxHP</b>: Pretty self explanatory. Towers also keep track of their maximum HP as well as their current running HP. If it goes to 0 or below that tower is considered dead and will be cleaned up at the end of the frame.</li>
      <li><b>Enum</b>: Each troop and tower has an enum value that tells the game what type of unit it is.</li>
      <li><b>Damage</b>: If a tower deals damage (and there are many that do and do not), this is how much damage this troop will do in a single step.</li>
      <li><b>Cost</b>: You must have at least X bits and Y income to purchase this unit on a given turn. Towers pretty much all require an upfront bit cost and also an income cost.</li>
      <li><b>Speed</b>: This tower acts every (30/speed) frames. Higher speed means it moves more frequently.</li>
    </ul>
    <p>
      Just like with troops, you submit a buy action for a tower in a specific plot. Note that you can only build plots within your territory, which will be explained later. After the tower is created, it'll run on its own AI, so you don't have to worry about coding one for it! 
    </p>
    <p>Now for what you were waiting for: the tower selection!
      <dl class="dl-horizontal">
	<dt><img src="/static/img/peashooter.png"></dt>
	<dd>
	  <p class="lead">
	    Peashooter
	  </p>
	  <p>
	    <b>Peashooters</b> are towers that deploy quickly with high damage per second, high speed and medium range. Its low cost is justified by the fact that it is quite fragile.
	  </p>
	  <p>
	    Peashooters have a very simple targeting AI that is not unlike troop targeting. A Peashooter will simply shoot at the first target it sees until it dies or moves out of range.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		50
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		500 bits, 100 income
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		10
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		200
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		300
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/firewall.png"></dt>
	<dd>
	  <p class="lead">
	    Firewall
	  </p>
	  <p>
	    <b>Firewalls</b> are medium range/medium cost towers that do a low amount of area-of-effect damage to all enemy troops within its range. These towers are quite beefy.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		51
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		1000 bits, 150 income
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		6
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		10
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		300
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		300
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/guardian.png"></dt>
	<dd>
	  <p class="lead">
	    Guardian
	  </p>
	  <p>
	    <b>Guardians</b> do incredible amounts of damage with a decent range and high speed that is offset by its high cost and low HP.
	  </p>
	  <p>
	    Guardian targeting AI is the same as the Peashooter AI -- it attacks the first unit it sees until it dies, and then moves on.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		52
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		5000 bits, 300 income
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		10
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		30
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		600
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		250
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/bank.png"></dt>
	<dd>
	  <p class="lead">
	    Bank
	  </p>
	  <p>
	    <b>Banks</b> are standard towers that increase your income by a standard fixed amount.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		53
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		1000 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		500
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Income Boost</b>
	      </td>
	      <td>
		100 income
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/junkyard.png"></dt>
	<dd>
	  <p class="lead">
	    Junkyard
	  </p>
	  <p>
	    When units die within the range of the <b>Junkyard</b>, the owner of the Junkyard will make a fixed, decent chunk of change back. Junkyards otherwise do not grant or cost any stable income.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		54
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		1000 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		300
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Income Boost</b>
	      </td>
	      <td>
		500 bits per unit that dies within range
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Range (for bit collection)</b>
	      </td>
	      <td>
		500
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/startup.png"></dt>
	<dd>
	  <p class="lead">
	    Start-Up
	  </p>
	  <p>
	    <b>Start-Ups</b> are banks that increase your income by a small fixed amount that grows linearly over time up till a max value.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		55
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		3000 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		400
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Income Boost</b>
	      </td>
	      <td>
		100 income, which increases linearly at a rate of 4 income every 30 frames until a max value of 500 income
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/corporation.png"></dt>
	<dd>
	  <p class="lead">
	    Corporation
	  </p>
	  <p>
	    <b>Corporations</b> are expensive banks that increase your income by a fixed amount that is multiplied exponentially by the number of how many of these towers you own.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		56
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		25000 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		1000
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Income Boost</b>
	      </td>
	      <td>
		200 income * (number of corporations owned by you squared)
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/warpdrive.png"></dt>
	<dd>
	  <p class="lead">
	    Warp Drive
	  </p>
	  <p>
	    Friendly troops in a <b>Warp Drive</b>’s lane spawn from the Warp Drive instead of from the original core. Decently cheap, but are fragile targets.
	  </p>
	  <p>
	    Having multiple Warp Drives in a single lane (either above or below) will simply make the unit spawn from the furthest out Warp Drive.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		57
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		1000 bits
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		400
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/jammingstation.png"></dt>
	<dd>
	  <p class="lead">
	    Jamming Station
	  </p>
	  <p>
	    <b>Jamming Stations</b> are crippling towers that slow the stride and speed of enemy troops in a medium sized range around it. Pretty beefy towers, with a moderate cost.
	  </p>
	  <p>
	    In the backend, speed is coded in the opposite direction -- units know that they act every X frames as opposed to acting with a speed of 30 FPS / X speed. A crippling tower attack increases the number of frames between troop actions by one up until a minimum value of 1 action per 15 frames (or a speed of 2), and reduces the troop's stride by 1 to a min value of 3 stride.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		58
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		3000 bits, 150 income
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		1
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		3000
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		200
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/Hotspot.png"></dt>
	<dd>
	  <p class="lead">
	    Hotspot
	  </p>
	  <p>
	    <b>Hotspots</b> increase the damage of friendly units within their lane. They also heal them a little as well. Hotspots are quite expensive and are fragile targets.
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		59
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Cost</b>
	      </td>
	      <td>
		10000 bits, 500 income
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		3
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage Boost / Heal</b>
	      </td>
	      <td>
		1 damage per iteration, 10 HP per iteration
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		400
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		It affects all friendly troops within its lane.
	      </td>
	    </tr>
	  </table>
	</dd>
      </dl>
      <a href="#toc">Back to top</a>
      <span class="anchor" id="objectives"></span>
      <h3>Objectives 101</h3>
    <p class="lead">As mentioned before, you spawn with a main core that you need to protect at all costs. You die if it dies. Additionally, you have three lane objectives that you should protect as secondary objectives, because they affect your territory space. Lane objectives spawn with you, but don't get created for any other reason.

      <dl class="dl-horizontal">
	<dt></dt>
	<dd>
	  <p class="lead">
	    Main Core
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		-2
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		1.5
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		100
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		10000
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		300
	      </td>
	    </tr>
	  </table>
	</dd>
	<dt><img src="static/img/Tower1_Blue.png"></dt>
	<dd>
	  <p class="lead">
	    Lane Objectives
	  </p>
	  <p>
	    These determine your lane vision. (TO BE UPDATED LATER)
	  </p>
	  <table class="table">
	    <tr>
	      <td>
		<b>Enum</b>
	      </td>
	      <td>
		-1
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Speed</b>
	      </td>
	      <td>
		2
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Damage</b>
	      </td>
	      <td>
		30
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>HP/MaxHP</b>
	      </td>
	      <td>
		1000
	      </td>
	    </tr>
	    <tr>
	      <td>
		<b>Reach</b>
	      </td>
	      <td>
		150
	      </td>
	    </tr>
	  </table>
	</dd>
      </dl>
      <a href="#toc">Back to top</a>
      <span class="anchor" id="territory"></span>
      <h3>Territory</h3>
    <p class="lead">Your towers can only be constructed within your territory, which shifts as the game goes on.</p>
    <p>You have three territory ranges, one for each lane. These default to half of the lane for each player. Note that there are 11 plots in each lane, but by default no one can build in the middle plot (effectively there can only be 10 towers out at any point in time).</p>
    <p>Your territory in a lane increases by 200 pixels when you kill your opponent's lane objective, and decreases when yours is destroyed. If both objective towers are gone, both players will again share half the lane. Note that if your lane objective is destroyed and you still have a tower standing in territory you will be losing, those towers will be instantly destroyed.</p>
    <p>You don't have to calculate your plots, because we actually pass you the plots you can build in. This is explained better in the Sample Output, but this information is contained in the "towers" field in the player objects.</p>
      <span class="anchor" id="fogofwar"></span>
      <h3>Fog of War</h3>
    <p class="lead">Fog of war is a mechanic where you can't always see the entirety of the battlefield. This adds a little layer of complexity where you'll have to fight to figure out what your opponent is doing.</p>
    <p>To prevent games from being inevitable stalemates if a player chooses to simply mimic their opponent's moves, we've generated a fog of war that masks the areas of the battlegrounds you can't see. By default, you can always see the extent of your territory (which by default is your half of the field). You can also see as far as your furthest unit's range. It should be noted that if your furthest unit in the Top lane can see up to x = 1400 (assume that you are the left player), then you can see up to x = 1400 in all three lanes, even if your Top lane furthest unit would not normally be able to fire into the Bottom lane.</p>
    <p>The extent of your vision range is called your <b>horizon bounds</b>. The <b>horizonMin</b> and <b>horizonMax</b> for both players are given in the output from the server.</p>
    <p>When playing the game manually on our website, you will be able to see the fog of war visually with the gray section that shifts as your vision shifts.</p>
    <p><b>Troops</b> that are outside your horizon bounds simply do not show up in the output, while <b>towers</b> outside your horizon bounds will come up as JSON objects with enum -3 and owner equal to your opponent's player value (see sample output for details)</p>
      <span class="anchor" id="gameconstants"></span>
      <h3>Game Constants</h3>
      <img src="static/img/background.png" width="100%">
      <table class="table">
	<tr>
	  <td>Game Orientation</td>
	  <td>(0, 0) is the bottom left corner and (1600, 600) is the top right corner of the screen.</td>
	</tr>
	<tr>
	  <td>Game Dimensions</td>
	  <td>1600px (width) by 600px (height)</td>
	</tr>
	<tr>
	  <td>Plot Dimensions</td>
	  <td>Every 100 pixels from x = 300px to x = 1300px.<br>As a result, there are 11 plots per side-lane, two side-lanes per lane and overall 66 plots (from 00 to 65).</td>
	</tr>
	<tr>
	  <td>Side-lanes</td>
	  <td>There is a side-lane 50px above and below each lane.</td>
	</tr>
	<tr>
	  <td>Lane Constants</td>
	  <td>Top-lane is at y = 475, mid-lane is at y = 280, and bot-lane is at y = 100.
	</tr>
	<tr>
	  <td>Objective Constants</td>
	  <td>Player 1's objectives spawn at x = 200, and player 2's objectives spawn at x = 1400.
	</tr>
	<tr>
	  <td>Territory</td>
	  <td>Your territory defaults to exactly halfway between the main cores.</td>
	</tr>
      </table>
      <span class="anchor" id="enginedetails"></span>
      <h3>Engine details</h3>
    <p>Each frame, the engine goes through a very predescribed set of actions in order to resolve game states as fairly as possible.
    <p>The steps are as follows:</p>
    <li>Player inputs are read and resolved. If towers/troops are bought (and they can be afforded), they are spawned.</li>
    <li>Each tower and troop decides what they are going to do, or if they can even do anything (this depends on their speed). (This is a preparation stage, and no tower/troop actually acts here.)</li>
    <li>All towers and troops iterate.</li>
    <li>Towers and troops are cleaned up if they have sub-zero HP.</li>
    <li>If a player's main core is seen to be dead, the game terminates.</li>
    <a href="#toc">Back to top</a>
    <span class="anchor" id="developingyourai"></span>
    <h3>Developing your AI</h3>
    <p class="lead">You're essentially building a websocket client, which pretty much all languages are capable of. If you're having trouble getting started, please feel free to expand off of the Sample AIs we've provided (below). We're going to keep expanding the list of sample AIs to try to cover the languages we think people will be developing in.</p>
    <p>The workflow is as follows:</p>
    <ul>
      <li>Your client will create a connection to either <kbd>ws://npcompete.io/wsplay</kbd> (for matchmaking, which will match you against the next opponent that does this), or to <kbd>ws://npcompete.io/wsjoin?game=GAMENAME</kbd> (for joining a specific lobby, which will match you against the next player who joins that lobby as well).
      <li>Once the connection is established, you need to send a message which is simply your devkey! Your devkey will be used to identify you for the competition, so make sure to know yours and not share it!
      <li>While the websocket is open, feel free to send moves at your own volition! The game will be sending output at a rate of 30 FPS. This output will contain the game board state that you can see.
    </ul>
    <h5>Sample AIs</h5>
    <p>Sample AIs can currently be found at the following directory for the following languages:</p>
    <ul>
      <li>Go: <a href="https://github.com/austindoeswork/S2017-UPE-AI/tree/master/examples/go">https://github.com/austindoeswork/S2017-UPE-AI/tree/master/examples/go</a>
      <li>C++: <a href="https://github.com/austindoeswork/S2017-UPE-AI/tree/master/examples/c++">https://github.com/austindoeswork/S2017-UPE-AI/tree/master/examples/c++</a>
      <li>Python: <a href="https://github.com/austindoeswork/S2017-UPE-AI/tree/master/examples/python">https://github.com/austindoeswork/S2017-UPE-AI/tree/master/examples/python</a>
    </ul>
    <h5>Legal Moves</h5>
    <p class="lead">As of right now, the only commands allowed are buy commands, either for towers or troops. All of these are pretty much formatted the same way, and will be described below.</p>
    <p>Buying troops is formatted the following way: <kbd>bXX YY</kbd>, where XX is the enum of the troop (00 thru 11) and YY is the lane of the troop (01 thru 03). The enums of the troops are listed above in Troop 101. Lane 01 is top lane, 02 is mid lane and 03 is bot lane.</p>
    <p>Just for your convenience, here's a table of all the unit enums:</p>
    <table class="table">
      <tr>
	<td>Nut</td>
	<td>00</td>
      </tr>
      <tr>
	<td>Bolt</td>
	<td>01</td>
      </tr>
      <tr>
	<td>Grease Monkey</td>
	<td>02</td>
      </tr>
      <tr>
	<td>Walker</td>
	<td>03</td>
      </tr>
      <tr>
	<td>Aimbot</td>
	<td>04</td>
      </tr>
      <tr>
	<td>Hard Drive</td>
	<td>05</td>
      </tr>
      <tr>
	<td>Scrapheap</td>
	<td>06</td>
      </tr>
      <tr>
	<td>Gas Guzzler</td>
	<td>07</td>
      </tr>
      <tr>
	<td>Terminator</td>
	<td>08</td>
      </tr>
      <tr>
	<td>Blackhat</td>
	<td>09</td>
      </tr>
      <tr>
	<td>Malware</td>
	<td>10</td>
      </tr>
      <tr>
	<td>Gandhi</td>
	<td>11</td>
      </tr>
    </table>
    <p>Buying towers is formatted very similarly, as: <kbd>bXX YY</kbd>, where XX is the enum of the tower (50 thru 59) and YY is the plot (00 thru 65). The enums of towers are similarly listed above in Tower 101. Plot 00 is in the top left corner, and plot 65 is in the bottom right corner. Remember that towers can only be built within your territory owned as a player.</p>
    <p>When issuing a buy command, MAKE SURE THAT BOTH THE ENUM AND LOCATION IS 2 DIGITS, even if the enum or location is less than 10 (preface with 0 as necessary).</p>
    <table class="table">
      <tr>
	<td>Peashooter</td>
	<td>50</td>
      </tr>
      <tr>
	<td>Firewall</td>
	<td>51</td>
      </tr>
      <tr>
	<td>Guardian</td>
	<td>52</td>
      </tr>
      <tr>
	<td>Bank</td>
	<td>53</td>
      </tr>
      <tr>
	<td>Junkyard</td>
	<td>54</td>
      </tr>
      <tr>
	<td>Start Up</td>
	<td>55</td>
      </tr>
      <tr>
	<td>Corporation</td>
	<td>56</td>
      </tr>
      <tr>
	<td>Warp Drive</td>
	<td>57</td>
      </tr>
      <tr>
	<td>Jamming Station</td>
	<td>58</td>
      </tr>
      <tr>
	<td>Hotspot</td>
	<td>59</td>
      </tr>
    </table>
    <a href="#toc">Back to top</a>
    <span class="anchor" id="sampleoutput"></span>
    <h3>Sample output</h3>
    <pre>
      {
      "w": 1600,
      "h": 600,
      "p1": {
      "owner": 1,
      "territoryMin": 0,
      "territoryMax": 800,
      "horizonMin": 0,
      "horizonMax": 1200,
      "income": 8900,
      "bits": 1299711976,
      "towers": [
      {
      "owner": 1,
      "x": 600,
      "y": 425,
      "maxhp": 3000,
      "hp": 3000,
      "enum": 58
      },
      {
      "owner": 1,
      "enum": -3
      },
      {
      "owner": 1,
      "enum": -3
      },

      . . .
      
      {
      "owner": 2,
      "enum": -3
      },
      {
      "owner": 2,
      "enum": -3
      },
      {
      "owner": 2,
      "enum": -3
      },
      {
      "owner": 2,
      "enum": -3
      }
      ],
      "troops": [
      {
      "owner": 1,
      "x": 520,
      "y": 475,
      "maxhp": 75,
      "hp": 75,
      "enum": 2
      },

      . . .
      
      {
      "owner": 1,
      "x": 640,
      "y": 100,
      "maxhp": 800,
      "hp": 800,
      "enum": 3
      }
      ],
      "mainCore": {
      "owner": 1,
      "x": 0,
      "y": 280,
      "maxhp": 10000,
      "hp": 10000,
      "enum": -2
      }
      },
      "p2": {
      "owner": 2,
      "territoryMin": 800,
      "territoryMax": 1600,
      "horizonMin": 612,
      "horizonMax": 1600,
      "income": 5750,
      "bits": 975845676,
      "towers": [
      {
      "owner": 1,
      "enum": -3
      },

      . . .

      {
      "owner": 2,
      "x": 888,
      "y": 100,
      "maxhp": 80,
      "hp": 80,
      "enum": 10
      },
      {
      "owner": 2,
      "x": 810,
      "y": 100,
      "maxhp": 80,
      "hp": 80,
      "enum": 10
      }
      ],
      "mainCore": {
      "owner": 2,
      "x": 1599,
      "y": 280,
      "maxhp": 10000,
      "hp": 10000,
      "enum": -2
      }
      }
      }
    </pre>
    <a href="#toc">Back to top</a>
    <span class="anchor" id="interpretingtheoutput"></span>
    <h3>Interpreting the output</h3>
    This may look really complicated, but it all makes sense when you break it down.
    <dl class="dl-horizontal">
      <dt>w, h</dt>
      <dd>
	<pre>
	  "w": 1600, // width (in pixels) of game board
	  "h": 600, // height (in pixels) of game board
	</pre>
	Pretty self explanatory, this is just a general game constant (don't depend on this, this may be removed just to reduce the output size by a little). The game is guaranteed at this point to be run in 1600 x 600.
      </dd>
      <dt>p1, p2</dt>
      <dd>
	<pre>
	  "p1": {
	  "owner": 1,
	  "name": "HAL 9000",
	  "territoryMin": 0,
	  "territoryMax": 800,
	  "horizonMin": 0,
	  "horizonMax": 1200,	  
	  "income": 8900,
	  "bits": 1299711976,
	  "towers": [
	  . . .
	  ],
	  "troops": [
	  . . .
	  ],
	  "mainCore": {
	  . . .
	  }
	  },
	  "p2": {
	  "owner": 2,
	  "name": "Deep Blue",
	  "territoryMin": 800,
	  "territoryMax": 1600,
	  "horizonMin": 612,
	  "horizonMax": 1600,
	  "income": 5750,
	  "bits": 975845676,
	  "towers": {
	  . . .

	  ],
	  "troops": [
	  . . .
	  ],
	  "mainCore": {
	  . . .
	  }
	  }
	</pre>
	<p>Player objects are pretty straightforward as well, they contain an "owner" property that tells you whether they are player 1 (coming from left, blue team) or player 2 (coming from right, red team). Players have income, as mentioned before, as well as bits. They also have "towers", which is an array of tower unit objects, and "troops", which is an array of troop unit objects. Players finally have a "mainCore" JSON object that represents the main core. The "name" field is the player's username.</p>
	<p>Although calculatable by the players, we've provided the horizon and territory bounds in the form of territoryMin/Max and horizonMin/Max. These are ints that show the bounds of your territory and horizon respectively. Your territory dictates which plots you can physically build towers in, and defaults to your half of the field. Your horizon is the range at which you can see. Everything else is blanketed by the fog of war (see the Fog of War section above).</p>
      </dd>
      <dt>towers</dt>
      <dd>
	<pre>
	  "towers": [
	  {
	  "owner": 1,
	  "enum": -3,
	  },

	  . . .

	  {
	  "owner": 0,
	  "enum": -3,
	  },

	  . . .
	  
	  {
	  "owner": 2,
	  "x": 888,
	  "y": 100,
	  "maxhp": 80,
	  "hp": 80,
	  "enum": 10
	  },
	  {
	  "owner": 2,
	  "x": 810,
	  "y": 100,
	  "maxhp": 80,
	  "hp": 80,
	  "enum": 10
	  }
	  ]
	</pre>
	<p>The ". . ." is just there to make it so that you don't have to scroll through a billion lines of sample output, but towers is an array of JSON objects guaranteed to be length 66 (one index per plot). If the player does not own a tower in a location, towers[index] = {"owner": (1/2, depending on which player can build in this plot, and 0 if neither player can), "enum": -3}, otherwise it is a JSON object that has "owner" (either player 1/2), "x"/"y" coordinates, "maxhp" and "hp" to tell you how much HP it has and has lost, and an "enum" to tell you what type of tower it is.</p>
	<p>Note that towers outside of your horizon bounds will show up as empty as well.</p>
      </dd>
      <dt>troops</dt>
      <dd>
	<pre>
	  "troops": [
	  {
	  "owner": 1,
	  "x": 520,
	  "y": 475,
	  "maxhp": 75,
	  "hp": 75,
	  "enum": 2
	  },

	  . . .
	  
	  {
	  "owner": 1,
	  "x": 640,
	  "y": 100,
	  "maxhp": 800,
	  "hp": 800,
	  "enum": 3
	  }
	  ]
	</pre>
	<p>Troops is also an array of JSON troop unit objects. These are similar in structure to tower unit objects -- they have x/y/owner/maxhp/hp and enum values. This array, however, is of variable length but it is guaranteed to be sorted first by y value (descending value, essentially what lane the unit is in), and then by x value (ascending order). Remember that x=0, y=0 is the bottom left corner and x=1599,y=599 is the top right corner.</p>
	<p>Troops outside of your horizon bounds (inside the fog of war) will also not show up.</p>
      </dd>
    </dl>
    <a href="#toc">Back to top</a>
  </div>
  <br><center>Any additional questions? Reach out! Email Darwin Ding at dingd@rpi.edu</center>
</section>
{{template "footer" .}}
{{end}}
