{{define "game"}}
{{template "header" .}}

<!-- TODO: make the collapse into an accordion, seems to be a little weird on initial collapse -->
<div id="controller" class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">
      Web controller
    </h2>
  </div>
  <div class="panel-body" class="collapse">
    <!-- <p class="lead">Enter a gamename and join that game, or simply enter matchmaking which will pair you against the next querying opponent. Use the game controller below the display to control the ongoing match!</p> -->
    
    <div class="form-group">
      <span id="devkey" style="display:none;">{{.Data.Apikey}}</span>
      <input id="gamename" type="text" placeholder="Room Name">
	  <input id="join" type="submit" class="btn btn-default"value="Join Room">
    </div>
    <button class="btn btn-default" id="play">Enter Matchmaking (No Room)</button>
    <button class="btn btn-danger" id="close">Close websocket</button>
  </div>
</div>
<span class="label label-danger" id="status">STATUS: Not connected.</span><span id="fps">:)</span>
<div id="gameTV"></div>
<div id="gameController" class="panel panel-warning col-md-12">
  <h5>Buy Troops</h5>
  <table style="width:100%">
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">	
    <input type="radio" name="laneRadio" value='01'> Lane 01
  </label>
  <label class="btn btn-primary active">
    <input type="radio" name="laneRadio" value='02' checked> Lane 02
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="laneRadio" value='03'> Lane 03
  </label>
</div>
<tr>
</button>
<td><button class="btn btn-warning" onclick="buyTroop('00')">Nut</button>([200] Basic Troop)</button></td>
<td><button class="btn btn-warning" onclick="buyTroop('04')">Aimbot</button>([3000] Sniper)</button></td>
<td><button class="btn btn-warning" onclick="buyTroop('08')">Terminator</button>([8000] Super Soldier)</button></td>
</tr>
<tr>
  <td><button class="btn btn-warning" onclick="buyTroop('01')">Bolt</button>([400] Basic Troop)</button></td>
<td><button class="btn btn-warning" onclick="buyTroop('05')">Hard Drive</button>([2500] Bulky Fighter)</button></td>
<td><button class="btn btn-warning" onclick="buyTroop('09')">Blackhat</button>([2500] Tiny Instant Killer)</button></td>
</tr>
<tr>
  <td><button class="btn btn-warning" onclick="buyTroop('02')">Grease Monkey</button>([300] Healer)</button></td>
<td><button class="btn btn-warning" onclick="buyTroop('06')">Scrapheap</button>([9000] Trojan Horse)</button></td>
<td><button class="btn btn-warning" onclick="buyTroop('10')">Malware</button>([6000] Necromancer)</button></td>
</tr>
  <tr>
    <td><button class="btn btn-warning" onclick="buyTroop('03')">Walker</button>([800] Fast)</button></td>
<td><button class="btn btn-warning" onclick="buyTroop('07')">Gas Guzzler</button>([10000] Fatass Killer)</button></td>
<td><button class="btn btn-warning" onclick="buyTroop('11')">Gandhi</button>([500000] Pacifist)</button></td>
</tr>
<tr>
</tr>
</table>
</div>
<h5>Buy Tower</h5>
<div>
  <table class="table">
    <tr>
      <td>
	<p>Select tower to buy:</p>
      </td>
    </tr>
    <tr>
      <td>
	<INPUT TYPE="Radio" Name="towerEnum" Value="50" checked="checked">Peashooter
	<INPUT TYPE="Radio" Name="towerEnum" Value="51">Firewall
	<INPUT TYPE="Radio" Name="towerEnum" Value="52">Guardian
	<INPUT TYPE="Radio" Name="towerEnum" Value="53">Bank
	<INPUT TYPE="Radio" Name="towerEnum" Value="54">Junkyard
	<INPUT TYPE="Radio" Name="towerEnum" Value="55">Start Up
	<INPUT TYPE="Radio" Name="towerEnum" Value="56">Corporation
	<INPUT TYPE="Radio" Name="towerEnum" Value="57">Warp Drive
	<INPUT TYPE="Radio" Name="towerEnum" Value="58">Jamming Tower
	<INPUT TYPE="Radio" Name="towerEnum" Value="59">Hotspot
      </td>
    </tr>
    <tr><td><p>Select a plot to drop it in:</p></td></tr>
	<tr>
	  <td><div id="towerController"></div></td>
	</tr>
  </table>
</div>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.2.2/pixi.min.js"></script>
<script src="/static/js/ws.js?1"></script>
<script src="/static/js/tdef.js?1"></script>
<script>
  addListeners();
  populateGameController();
</script>
{{template "footer" .}}
{{end}}
