{{define "game"}}
{{template "header" .}}
Framerate: <span id="fps">:)</span>
<div id="gameTV"></div>
<div id="score">
  <div class="col-md-6">
    <table class="table col-md-6">
      <tr>
	<td>Player 1: <span id="p1name"></span></td>
      </tr>
      <tr>
	<td>Core HP:</td>
	<td><span id="p1hp"></span></td>
      </tr>
      <tr>
	<td>Bits:</td>
	<td><span id="p1bits"></span></td>
      </tr>
      <tr>
	<td>Income:</td>
	<td><span id="p1income"></span></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table">
      <tr>
	<td>Player 2: <span id="p2name"></span></td>
      </tr>
      <tr>
	<td>Core HP:</td>
	<td><span id="p2hp"></span></td>
      </tr>
      <tr>
	<td>Bits:</td>
	<td><span id="p2bits"></span></td>
      </tr>
      <tr>
	<td>Income:</td>
	<td><span id="p2income"></span></td>
      </tr>
    </table>
  </div>
</div>
<div id="controller">
  <p id="status">join/watch a game dawg.</p>
  <h3>controller</h3>
  <div>
    <p><input id="gamename" type="text" value="gamename">
      <input id="devkey" type="text" value="">
      <button id="join">Join</button>
      <button id="play">Play</button>
      <button id="watch">Watch</button>
    <p><input id="wspathinput" type="text" value="ws://localhost:8080">
      <button id="close">Close</button>
    <p>
      <INPUT TYPE="Radio" Name="troopEnum" Value="00" checked="checked">Nut
      <INPUT TYPE="Radio" Name="troopEnum" Value="01">Bolt
      <INPUT TYPE="Radio" Name="troopEnum" Value="02">Grease Monkey
      <INPUT TYPE="Radio" Name="troopEnum" Value="03">Walker
      <INPUT TYPE="Radio" Name="troopEnum" Value="04">Aimbot
      <INPUT TYPE="Radio" Name="troopEnum" Value="05">Hard Drive
      <INPUT TYPE="Radio" Name="troopEnum" Value="07">Gas Guzzler
      <INPUT TYPE="Radio" Name="troopEnum" Value="08">Terminator
      <button onclick="buyTroop('01')">send unit top</button><button onclick="buyTroop('02')">send unit mid</button><button onclick="buyTroop('03')">send unit bot</button>
      <div>
	<table class="table">
	  <tr>
	    <td><INPUT TYPE="Radio" Name="towerEnum" Value="50" checked="checked">Peashooter
	      <INPUT TYPE="Radio" Name="towerEnum" Value="51">Bank</td>
	  </tr>
	  <tr>
	    <td><button onclick="buyTower('00')">buy p0 tower</button>
	      <button onclick="buyTower('01')">buy p1 tower</button><button onclick="buyTower('02')">buy p2 tower</button><button onclick="buyTower('03')">buy p3 tower</button>
	    </td>
	  </tr>
	  <tr>
	    <td><button onclick="buyTower('04')">buy p4 tower</button><button onclick="buyTower('05')">buy p5 tower</button><button onclick="buyTower('06')">buy p6 tower</button>
	      <button onclick="buyTower('07')">buy p7 tower</button>
	    </td>asd
	  </tr>
	  <tr>
	    <td><button onclick="buyTower('08')">buy p8 tower</button><button onclick="buyTower('09')">buy p9 tower</button>
	      <button onclick="buyTower('10')">buy p10 tower</button><button onclick="buyTower('11')">buy p11 tower</button>
	    </td>
	  </tr>
	  <tr>
	    <td><button onclick="buyTower('12')">buy p12 tower</button>
	      <button onclick="buyTower('13')">buy p13 tower</button><button onclick="buyTower('14')">buy p14 tower</button><button onclick="buyTower('15')">buy p15 tower</button>
	    </td>
	  </tr>
	</table>
      </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.2.2/pixi.min.js"></script>
<script src="/static/js/ws.js"></script>
<script src="/static/js/tdef.js"></script>
{{template "footer" .}}
{{end}}
