{{define "home"}}
{{template "header" .}}
<section>
  <div class="jumbotron">
    <h1>NP COMPETE</h1>
    <p>UPE's second iteration of the coolest programming/AI competition you've never realized you've
      wanted to be a part of.</p>
    <p style="text-align: center;">Time left for qualifiers: <br> <span id="countdown"></span></p>
  </div>
  <p><span class="label label-danger" id="status">STATUS: Not connected.</span></p>
  <p>Framerate: <span id="fps"></span>
  <div id="gameTV">
  </div>
  <div id="score">
    <div class="col-md-6" class="panel-body">
      <table class="table col-md-6">
	<tr>
	  <td>Player 1: <span id="p1name">Deep Blue</span></td> <!-- TODO: implement with identification from server -->
	</tr>
	<tr>
	  <td>Core HP:</td>
	  <td><span id="p1hp"></span></td>
	</tr>
	<tr>
	  <td>Bits:</td>
	  <td><span id="p1bits"></span></td>
	</tr>
	<tr>
	  <td>Income:</td>
	  <td><span id="p1income"></span></td>
	</tr>
	<tr>
	  <td>Territory Bounds:</td>
	  <td><span id="p1territory"></span></td>
	</tr>
	<tr>
	  <td>Horizon Bounds:</td>
	  <td><span id="p1horizon"></span></td>
	</tr>
      </table>
    </div>
    <div class="col-md-6" class="panel-body">
      <table class="table">
	<tr>
	  <td>Player 2: <span id="p2name">HAL 9000</span></td>
	</tr>
	<tr>
	  <td>Core HP:</td>
	  <td><span id="p2hp"></span></td>
	</tr>
	<tr>
	  <td>Bits:</td>
	  <td><span id="p2bits"></span></td>
	</tr>
	<tr>
	  <td>Income:</td>
	  <td><span id="p2income"></span></td>
	</tr>
	<tr>
	  <td>Territory Bounds:</td>
	  <td><span id="p2territory"></span></td>
	</tr>
	<tr>
	  <td>Horizon Bounds:</td>
	  <td><span id="p2horizon"></span></td>
	</tr>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="well text-center">
      <h4>We're holding an info session + workshop on how to make an AI for this game on Wednesday, Feb 22!</h4>
      We'll help people kickstart getting their AIs working then and there in the UPE Lounge on the bottom floor of Amos Eaton. This event will start at 4PM and go on probably until 6PM or 7PM. Hope to see you all there!
    </div>
    <div class="row"> 
      <h3>What is this?</h3>
      <p class="lead">
	A programming competition by and for RPI students. Coders of all levels and languages are welcome! Teams of up to four students work together for an entire semester to build an AI that will play our game.
	<br><b>Prize information coming soon!</b>
      </p>
      <p>
        To learn more about how to play and how to connect to the game, check out the <a href="./docs">full documentation and API.</a>
      <p>This server, equipped with matchmaking capabilities, will be running 24/7 to allow teams to test their AIs against the rest of the competition. By winning games and improving your rating, you can fight your way to the top of our <a href="./leaderboard">leaderboard</a>!
	<h3>But I know nothing about AI!</h3>
	<p class="lead">Never to fear! This game at its core is really just a coding competition. You can feel free to use our Sample AIs (see the documentation) to get started. All you need to get started is a working machine, a favorite language and a little bit of spare time. Winning the whole thing will be another beast entirely, though!</p>
        <h3>Rules</h3>
        The competition will be broken down into sections: Qualifiers, Semi-finals and Finals. Feel free to modify/improve/train your AI model in between the different sections! 
        <dl class="dl-horizontal" style="margin-top: 5%;">
          <dt>Quals</dt>
          <dd><p>We will be soon announcing what will be needed to qualify for the actual competition, so make sure to read up on the documentation and play around with the game in the mean time!</p>
          </dd>
          <dt>Semifinals</dt>
          <dd><p>More information coming soon, this will be a live event!</p></dd>
          <dt>Finals</dt>
          <dd><p>More information coming soon, this will be a live event with prizes!</p></dd>
        </dl>
        <h3>Timeline</h3>
	<b>Qualifiers will be open over the course of February and much of March. More information coming soon.</b>
	
        <div class="row">
          <div class="col-md-3">
            <h3>Learn</h3>
            <ul>
              <li>Read the <a href="./docs">Tower Defense documentation</a>
              <li><a href="./game">Play around with the game yourself!</a>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Develop</h3>
            <p>Code in your favorite language! The server and AIs communicate using HTTP requests (see the documentation for more details), and pretty much all languages can interface this way. Go nuts!</p>
          </div>
          <div class="col-md-3">
            <h3>Test</h3>
            <p>Testing your AI against other AIs on the matchmaking server is super easy using our API! Check out the Documentation for more details.</p>
          </div>
          <div class="col-md-3">
            <h3>Compete</h3>
            <p>More on this coming later!</p>
          </div>
	</div>
    </div>
  </div>
</div>
<div class="well text-center">
  <h3>Huge shoutout to our sponsor from last semester: Ziwang Xu</h3>
  This AI competition wouldn't have been able to run without his generosity.
</div>
<br><center>Any additional questions? Reach out! Email Darwin Ding at dingd@rpi.edu</center>
<br><center>Thanks to the developers who've contributed: Austin, Zishan and Matt, as well as the artist: Janice.</center>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.2.2/pixi.min.js"></script>
<script src="/static/js/ws.js"></script>
<script src="/static/js/tdef.js"></script>
<script>
  function startMainGameTV() {
  if(readyToDisplay) {
  wsmainpagewatch();
  }
  else {
  setTimeout(startMainGameTV, 500);
  }
  }
  startMainGameTV();
</script>
{{template "footer" .}}
{{end}}
