<!--
TODO:
add error checking for passwords? (some sort of security perhaps)
-->

{{define "signup"}}
{{template "header" .}}
<section>
    <h1>Sign Up</h1>
    <form method="POST" action="/signup" id="signup-form">
        <input type="text" name="name" placeholder="Full Name">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Register">
    </form>
    <div class="well text-center" id="upe-advert">
      Interested in joining a group of talented, awesome programmers such as yourself?<br>With perks
      such as being part of our resume book, and being able to help out in the behind the scenes for
      events like this and ProgComp? <br><b><a href="http://upe.cs.rpi.edu">Apply to UPE today!</a>
      </b> (Applications open until Mar 29)
    </div>
</section>
{{template "footer" .}}
{{end}}
