{{define "watch"}}
{{template "header" .}}

<h1>Watch</h1>
<h3>Ongoing games: select one to watch!</h3>
<p class="lead">Fun fact: any game names below that are long strings of random numbers are likely matchmaking games!</p>
<p>Note that there is a 20 second delay for watchers, in order to discourage cheating our fog of war. If you're experiencing abnormally long wait times to watch a game, you might be trying to connect to a game that just started!</p>
<table class="table table-striped">
  {{range .Data}} <!-- iterate thru all elements -->
  <tr>
    <td>
		<button class="btn btn-primary" onclick="watchGame({{.Name}})"><h4>{{.Name}} -- {{.Players}}</h4></button>
    </td>
  </tr>
  {{end}}
</table>

<p><span class="label label-danger" id="status">STATUS: Not connected.</span></p>
<div id="gameTV"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.2.2/pixi.min.js"></script>
<script src="/static/js/ws.js"></script>
<script src="/static/js/tdef.js"></script>
<script>
  function watchGame(gameName) {
  setstatus("Loading game: " + gameName, "label label-info");
  if (ws) {
  ws.close();
  ws = null;
  wsgamelistwatch(gameName);
  }
  else {
  wsgamelistwatch(gameName);
  }
  }
</script>
{{template "footer" .}}
{{end}}
